@use "../functions" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: rem(1436); // 1436px
  padding: 0 rem(8); // 8px default
  margin-inline: auto;
}
