@use "../functions" as *;
@use "../variables" as *;
@use "../mixins" as *;

.popular-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: fluid(24, 32);
    width: 100%;
  }

  &__title {
    @include text-title;

    color: #000000;
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(16, 20);
    width: 100%;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
