@use "variables" as *;

@mixin text-regular {
  font-family: var(--regular-font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--regular-font-size);
  letter-spacing: var(--regular-letter-spacing);
  line-height: var(--regular-line-height);
  font-style: var(--regular-font-style);
}

@mixin text-regular-sm-up {
  font-family: var(--regular-sm-up-font-family);
  font-weight: var(--regular-sm-up-font-weight);
  font-size: var(--regular-sm-up-font-size);
  letter-spacing: var(--regular-sm-up-letter-spacing);
  line-height: var(--regular-sm-up-line-height);
  font-style: var(--regular-sm-up-font-style);
}

@mixin text-regular-sm {
  font-family: var(--regular-sm-font-family);
  font-weight: var(--regular-sm-font-weight);
  font-size: var(--regular-sm-font-size);
  letter-spacing: var(--regular-sm-letter-spacing);
  line-height: var(--regular-sm-line-height);
  font-style: var(--regular-sm-font-style);
}

@mixin text-h1-ec {
  font-family: var(--h1-ec-font-family);
  font-weight: var(--h1-ec-font-weight);
  font-size: var(--h1-ec-font-size);
  letter-spacing: var(--h1-ec-letter-spacing);
  line-height: var(--h1-ec-line-height);
  font-style: var(--h1-ec-font-style);
}

@mixin text-subtitle {
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

@mixin text-title {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  font-style: var(--title-font-style);
}

@mixin text-subtitle-up {
  font-family: var(--subtitle-up-font-family);
  font-weight: var(--subtitle-up-font-weight);
  font-size: var(--subtitle-up-font-size);
  letter-spacing: var(--subtitle-up-letter-spacing);
  line-height: var(--subtitle-up-line-height);
  font-style: var(--subtitle-up-font-style);
}

@mixin text-button {
  font-family: var(--regular-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  line-height: normal;
}
